<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>dataArray</key>
    <array>
        <dict>
            <key>state</key>
            <integer>1</integer>
            <key>date</key>
            <date>2021-02-27T16:48:55Z</date>
            <key>porirety</key>
            <string>image5</string>
            <key>description</key>
            <string>desc5</string>
            <key>name</key>
            <string>me task5</string>
        </dict>
        <dict>
            <key>state</key>
            <integer>1</integer>
            <key>date</key>
            <date>2021-02-27T16:48:55Z</date>
            <key>porirety</key>
            <string>image4</string>
            <key>description</key>
            <string>desc4</string>
            <key>name</key>
            <string>fortask4</string>
        </dict>
        <dict>
            <key>state</key>
            <integer>1</integer>
            <key>date</key>
            <date>2021-02-27T16:48:55Z</date>
            <key>porirety</key>
            <string>image3</string>
            <key>description</key>
            <string>desc3</string>
            <key>name</key>
            <string>iostask3</string>
        </dict>
        <dict>
            <key>state</key>
            <integer>1</integer>
            <key>date</key>
            <date>2021-02-27T16:48:55Z</date>
            <key>porirety</key>
            <string>image2</string>
            <key>description</key>
            <string>desc2</string>
            <key>name</key>
            <string>iostask2</string>
        </dict>
        <dict>
            <key>state</key>
            <integer>1</integer>
            <key>date</key>
            <date>2021-02-27T16:46:37Z</date>
            <key>perrorety</key>
            <string>image1</string>
            <key>description</key>
            <string>detailes for i</string>
            <key>name</key>
            <string>task1</string>
        </dict>
    </array>
</dict>
</plist>
